<div class="container">
  <div class="row">
    <!-- お店の紹介-->
    <h3>ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
    </h3>
  </div>
  <!-- 新着商品の表示 -->
  <div class="raw my-2">
    <h3 class="font-weight-bold">新着商品</h3>
  </div>
    <% @items.each do |item|%>
    <div class="col-sm-">
      <div>
        <%= link_to item_path(item) do %>
          <p class="img-wrap"><%= image_tag item.get_image(100,80), class: "m-3"%></p>
        <% end %>
        <div class="card-body">
          <p style="font-size:20px;"><%= item.name %></p>
          <p>¥<%= item.price %></p>
        </div>
      </div>
    </div>
    <% end %>

  <div>
    <%= link_to "全ての商品を見る >", items_path %>
  </div>
</div>