<div class="container py-5">
  <div class="row mt-5 font-weight-bold">
    <div class="mx-auto bg-light" style="text-align: center; font-size:30px;">
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </div>
  </div>

  <div class="row my-5">
    <h2 class="font-weight-bold">新着商品</h2>
  </div>
    <% @items.each do |item|%>
    <div class="col-4">
      <div>
        <%= link_to item_path(item) do %>
          <p class="img-wrap"><%= image_tag item.get_image(100,80), class: "m-3"%></p>
        <% end %>
        <div class="card-body">
          <p style="font-size:20px;"><%= item.name %></p>
          <p>¥<%= item.price %></p>
        </div>
      </div>
    </div>
    <% end %>

  <div>
    <div class="text-right">
      <%= link_to "全ての商品を見る >", items_path %>
    </div>
  </div>
  <div>
    <!-- ページネーション -->
  </div>
</div>

